#navbarRow{
    position: fixed;
    top: 75px;
    background-image: url("../assets/img/logo2.png");
    background-size: cover;
    background-position-x: 100%;
    height: 25vh;
    width : 90px;
    color: rgba(0,0,0,1);
    transition-duration: 1s;
    z-index: 10;

}

#navbarRow ul li h4{
    width : 50px;
    text-indent: -200px;
    transition-duration: 1s;

}

#navbarRow ul {
    display: flex;
    flex-direction: column;
justify-content: center;} 

#navbarRow:hover {
    height: 50vh;
    width : 250px;
    color: rgba(0,0,0,1);
    transition-duration: 1s;
}

#navbarRow:hover ul li h4{
    width : 250px;
    text-indent: 20px;
    transition-duration: 1s;
} 

